.idea
.gradle
build/
gradlew.bat
out/
*.ipr
*.iws
*.iml
.DS_Store
node_modules

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache
